body {
background-color: blue;
    margin-top: 50px;
}
.container-fluid {
    background-color: lavender;
    border: 2px solid black;
    padding: 100px;
    margin: 50px;
}
.row {
    border: 2px solid black;
    margin: 0px;
}
.header {
    background-color: blue;
    height: 10em;
    border-bottom: 2px solid black;
}
.nav {
    background-color: green;
    height: 5em;
}
.content {
    background-color: red;
    height: 15em;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.aside {
    background-color: mediumturquoise;
    height: 15em;
    border-bottom: 2px solid black;
}
.promo {
    background-color: chocolate;
    height: 10em;
    border-right: 2px solid black;
}
.footer {
    background-color: black;
    color: white;
    height: 5em;
}
   
@media screen and (min-width: 468px) {
    body, .header, .nav, .content, .aside, .promo, .footer, .container-fluid {
      background-color: lightgreen;
    }
  }
  
  @media screen and (min-width: 875px) {
    body, .header, .nav, .content, .aside, .promo, .footer, .container-fluid {
      background-color: lavender;
    }